
@import "@/assets/style/variables.scss";

@font-face {
    font-family: "IntegralCF" sans-serif;
    src: url("../font/integralcf-regular.otf") format("opentype") ;
    font-weight: 400;
    font-style: normal;
    
}

@font-face {
    font-family: "IntegralCF" sans-serif;
    src: url(../font/integralcf-medium.otf) format("opentype") ;
    font-weight: 500;
    font-style: normal;
    
}

@font-face {
    font-family: "IntegralCF" sans-serif;
    src: url("../font/integralcf-demibold.otf") format("opentype") ;
    font-weight: 600;
    font-style: normal;
    
}

@font-face {
    font-family: "IntegralCF" sans-serif;
    src: url("../font/integralcf-bold.otf") format("opentype") ;
    font-weight: 700;
    font-style: normal;
    
}

@font-face {
    font-family: "IntegralCF" sans-serif;
    src: url("../font/integralcf-extrabold.otf") format("opentype") ;
    font-weight: 800;
    font-style: normal;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, ul, ol, li, dl, dt, dd, blockquote, pre, table, th, td, form, fieldset, legend, input, textarea{
    margin: 0px ;
}

@for $i from 1 through 12{
    h#{$i}{
        margin-bottom: 0px;
    }
}
 


body{
    font-family: 'IntegralCF', sans-serif;
}

.g-4{
    --bs-gutter-x: 20px;
}


// breakpoint

/* Styles par défaut (X-Small) */
// .container {
//     width: 100%;
//     padding: 0px !important;
// }

// /* Small devices (≥ 576px) */
// @media (min-width: 576px) {
//     .container{
//         width: 540px;
//         padding: 0px !important;
//     }
// }

// /* Medium devices (≥ 768px) */
// @media (min-width: 768px) {
//     .container{
//         width: 720px;
//         padding: 0px !important;
//     }
// }

// /* Large devices (≥ 992px) */
// @media (min-width: 992px) {
//     .container {
//         width: 960px;
//         padding: 0px !important;
//     }
// }

// /* Extra large devices (≥ 1200px) */
// @media (min-width: 1200px) {
//     .container{
//         width: 1140px;
//         padding: 0px !important;
//     }
// }

// /* XX-Large devices (≥ 1400px) */
// @media (min-width: 1400px) {
//     .container{
//         width: 1240px;
//         padding: 0px !important;
//     }
// }

// .row > *{
//     padding-left: 10px;
//     padding-right: 10px;
// }



