
@import "@/assets/style/variables.scss";

@font-face {
    font-family: "IntegralCF" sans-serif;
    src: url("../font/integralcf-regular.otf") format("opentype") ;
    font-weight: 400;
    font-style: normal;
    
}

@font-face {
    font-family: "IntegralCF" sans-serif;
    src: url(../font/integralcf-medium.otf) format("opentype") ;
    font-weight: 500;
    font-style: normal;
    
}

@font-face {
    font-family: "IntegralCF" sans-serif;
    src: url("../font/integralcf-demibold.otf") format("opentype") ;
    font-weight: 600;
    font-style: normal;
    
}

@font-face {
    font-family: "IntegralCF" sans-serif;
    src: url("../font/integralcf-bold.otf") format("opentype") ;
    font-weight: 700;
    font-style: normal;
    
}

@font-face {
    font-family: "IntegralCF" sans-serif;
    src: url("../font/integralcf-extrabold.otf") format("opentype") ;
    font-weight: 800;
    font-style: normal;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, blockquote, pre, table, th, td, form, fieldset, legend, input, textarea, button {
    margin: 0px !important;
}
 


body{
    font-family: 'IntegralCF', sans-serif;
}



.container{
    margin-inline: 100px ;
    padding: 0px !important;
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    gap: 20px;
  }

  .col {
    padding: 0 !important;
  }


  @for $i from 1 through 12{
    .col-lg-#{$i}{
        padding: 0 !important;
    }

    .col-md-#{$i}{
        padding: 0 !important;
    }

    .col-sm-#{$i}{
        padding: 0 !important;
    }
    
    .col-#{$i}{
        padding: 0 !important;
    }
  }


