// COLORS
$primary-color:#000000;
$secondary-color:#F2F0F1;
$color-white:#ffffff;
$color-body:#616060;
$ui-line-color:#E5E5E5;
$color-price-after:#B3B3B3;
$color-success-light:#789E81;
$color-success-dark:#28A745;
$color-danger-light:#FFEBEB;
$color-danger-dark:#FF3333;
$colo-review:#FFC633;
$color-warning:#FFC633;
$color-info:#007BFF;
$color-light:#F2F0F1;

// layout and grid

// Desktop
$column-desktop:12;
$gutter-desktop:20px;
$margin-desktop:100px;

// Tablet
$column-tablet:8;
$gutter-tablet:20px;
$margin-tablet:50px;

// mobile
$column-mobile:4;
$gutter-mobile:16px;
$margin-mobile:16px;

